
div.contenitore{
	display:block;
	width: 1200px;
	height:600px;
	background: #C0C0C0;
	margin: 70px;
	border:10px solid lightgray;
	padding-top:10px; 
	padding-left:50px; 
	
}
div.frmIntesta{
	/*display:block;*/
	width:1000px;
	background:red;
}
.input{
	width:500PX;
}
